{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section">
    
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            
                            <div class="container">
                                <div class="justify-content-center row">
                                    <div class="col-md-12">
                                        <div class="bg-white p-4 text-center">
                                            <img src="{% static 'assets/logo/foodOnlineLogo.png' %}" alt="foodOnline Logo" width="300" class="mb-4">
                                            
                                            <!-- Cancel Icon -->
                                            <div class="mb-4">
                                                <i class="fa fa-ban text-warning" style="font-size: 80px;"></i>
                                            </div>
                                            
                                            <h2 class="text-warning mb-3">Ödeme İptal Edildi</h2>
                                            <h4 class="mb-4">Ödeme işlemini iptal ettiniz.</h4>
                                            
                                            <div class="alert alert-info" role="alert">
                                                <p class="mb-0">Endişelenmeyin! Sepetinizdeki ürünler hâlâ kayıtlı ve sizi bekliyor.</p>
                                            </div>
                                            
                                            <div class="row mt-4">
                                                <div class="col-md-6 mb-3">
                                                    <div class="card h-100">
                                                        <div class="card-body text-center">
                                                            <i class="fa fa-shopping-cart fa-2x text-primary mb-3"></i>
                                                            <h5>Sepetiniz</h5>
                                                            <p class="text-muted">Seçtiğiniz tüm ürünler hâlâ sepetinizde. Siparişinizi dilediğiniz zaman gözden geçirebilir ve düzenleyebilirsiniz.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <div class="card h-100">
                                                        <div class="card-body text-center">
                                                            <i class="fa fa-heart fa-2x text-danger mb-3"></i>
                                                            <h5>Daha Sonra Kaydet</h5>
                                                            <p class="text-muted">Karar vermek için acele etmeyin. Lezzetli yemekleriniz sizi bekliyor olacak!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <hr class="my-4">
                                            
                                            <div class="row">
                                                <div class="col-md-4 mb-2">
                                                    <a href="{% url 'cart' %}" class="btn btn-primary btn-lg btn-block">
                                                        <i class="fa fa-shopping-cart mr-2"></i>Sepete Dön
                                                    </a>
                                                </div>
                                                <div class="col-md-4 mb-2">
                                                    <a href="{% url 'marketplace' %}" class="btn btn-success btn-lg btn-block">
                                                        <i class="fa fa-plus mr-2"></i>Daha Fazla Ürün Ekle
                                                    </a>
                                                </div>
                                                <div class="col-md-4 mb-2">
                                                    <a href="{% url 'my_orders' %}" class="btn btn-info btn-lg btn-block">
                                                        <i class="fa fa-list mr-2"></i>Siparişlerim
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="mt-4">
                                                <div class="alert alert-light border" role="alert">
                                                    <h6>Neden siparişinizi tamamlamalısınız?</h6>
                                                    <div class="row text-left">
                                                        <div class="col-md-6">
                                                            <ul class="mb-0">
                                                                <li>Kapınıza kadar taze yemek teslimatı</li>
                                                                <li>Yerel restoranları destekleyin</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul class="mb-0">
                                                                <li>Hızlı ve güvenilir teslimat</li>
                                                                <li>Güvenli ödeme seçenekleri</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="mt-4">
                                                <p class="text-muted">
                                                    <strong>Need assistance?</strong> Our team is here to help! Contact us at 
                                                    <a href="mailto:support@foodonline.com">support@foodonline.com</a> 
                                                    or call +91 0011223344
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}