{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section restaurant-detail-image-section" style=" background: url({% static 'assets/extra-images/banner-img-2.jpg' %}) no-repeat scroll 0 0 / cover;">
				{% include 'customers/cover.html' %}
			</div>
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<!-- Load sidebar -->
                            {% include 'includes/c_sidebar.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Overview</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Total Orders
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="#"><h5 class="card-title">{{ orders_count }}</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Logged in as: <b>{{ user.email }}</b>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="{% url 'cprofile' %}"><h5 class="card-title"><i class="fa fa-edit"></i> Profili Düzenle</h5></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <h5 class="text-uppercase">Son Siparişler</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="user-orders-list">
                                        <div class="responsive-table">
                                            <table class="table table-hover" id="myOrdersTable">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Sipariş #</th>
                                                    <th scope="col">İsim</th>
                                                    <th scope="col">Toplam</th>
                                                    <th scope="col">Durum</th>
                                                    <th scope="col">Tarih</th>
                                                    <th scope="col">İşlem</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    {% for order in recent_orders %}
                                                  <tr>
                                                    <td>{{ order.order_number }}</td>
                                                    <td>{{ order.name }}</td>
                                                    <td>${{ order.total }}</td>
                                                    <td>{{ order.status }}</td>
                                                    <td>{{ order.created_at }}</td>
                                                    <td><a href="{% url 'order-detail' order.order_number %}" class="btn btn-success">Detaylar</a></td>
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                              </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->


{% endblock body %}